<table class="table table-hover">
  <thead>
  <tr>
      <td>First Name</td>
      <td>Last Name</td>
      <td colspan="2">Actions</td>
  </tr>
  </thead>

  <tbody>
      <tr *ngFor="let customer of customers">
          <td>{{ customer.firstName }}</td>
          <td>{{ customer.lastName }}</td>
          <td><a [routerLink]="['/edit', customer.id]" class="btn btn-primary">Edit</a></td>
          <td><button (click)="deleteCustomer(customer.id)" class="btn btn-danger">Delete</button></td>
      </tr>
  </tbody>
</table>
